.todolist-items{
    list-style-type: none;
    text-align: left;
}
.todolist-items .TodoListItem{
    padding: 5px 10px;
}
.todolist-items .TodoListItem.done .TodoListItem__text{
    text-decoration: line-through;
}
.todolist-items .TodoListItem .TodoListItem__text{
    width: 200px;
    margin-left: 5px;
    border-bottom: 1px solid gray;
    display: inline-block;
}
.todolist-items .TodoListItem .TodoListItem__text--editing input{
    border: none;
    border-bottom: 1px solid gray;
    margin-left: 16px;
}